<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Human_ResourcesBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="Human_ResourcesBinding"
                contract="Human_ResourcesPort" name="Human_ResourcesBinding_Human_ResourcesPort" />
        </client>
    </system.serviceModel>
</configuration>